<launch>


	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>

    <node name="joint_states" pkg="rbx1_slush" type="joint_states_publisher.py"/>
    <node name="move_robot" pkg="rbx1_slush" type="joint_command_subscriber.py" output="screen"/>
</launch>